/**/
td.c6 {
    font-style: italic
    }
h3.c5 {
    text-align: center
    }
h2.c4 {
    text-align: center
    }
h5.c3 {
    text-align: center
    }
h1.c2 {
    text-align: center
    }
h4.c1 {
    text-align: center
    }
/**/