<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Alegreya:400,600,700,900|Cormorant+Garamond:400,600,700,900|Inika:700|Merriweather:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
{% load static %}

{% load static %}
<link rel="stylesheet" href="{% static "homework/main.css" %}">
  <title>HomeWork App</title>
</head>
<body>
          <div id="app"><!-- React --></div>
</body>
{% load static %}
<script src="{% static "homework/main.js" %}"></script>
</html>
