<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Alegreya:400,600,900|Cormorant+Garamond:400,700" rel="stylesheet" type="text/css">
{% load static %}

{% load static %}
<link rel="stylesheet" href="{% static "homework/main.css" %}">
  <title>HomeWork App</title>
</head>
<body>
          <div id="app"><!-- React --></div>
</body>
{% load static %}
<script src="{% static "homework/main.js" %}"></script>
</html>
