:root {
  --grass-color: #6d7b00;
  --sky-color: #60a2f4;
  --body-font: Alegreya;
  --head-font: Cormorant Garamond;
  --sidebar-color: #ede4d3ed;
  --work-area-color: #ede4d3ed;
  --correct-color: #fb5043;
  --select-color: #c7d2e1;
  --dict-color: #c7d2e1;
}


html {
  width:100%;
  position:absolute;
  min-width:100%
  box-sizing: border-box;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

select option {
  background: var(--select-color);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select {
  background: var(--select-color);
}

a[data-word-tool-tip], a[data-verb-tool-tip] {
  position: relative;
}

a[data-word-tool-tip]::after, a[data-verb-tool-tip]::after {
  display: block;
  position: absolute;
  border-radius: 4px;
  bottom: 40%;
  left: 20%;
  white-space: nowrap;
  padding: 0 .3em 0 .3em;
  font-size: .7em;
  color: white;
  transform: scale(0);
  transition: 
    transform ease-out 150ms,
    bottom ease-out 150ms;
  z-index: 1000;
}

a[data-word-tool-tip]::after {
  content: attr(data-word-tool-tip);
  font-family: var(--head-font);
  background-color: var(--grass-color);
}

a[data-verb-tool-tip]::after {
  content: attr(data-verb-tool-tip);
  font-family: var(--word-font);
  background-color: var(--sky-color);
}

a[data-word-tool-tip]:hover::after {
  transform: scale(1);
  bottom: 70%;
}

a[data-verb-tool-tip]:hover::after {
  transform: scale(1);
  bottom: 67%;
}

body {
  font-size: calc(18px + 0.25vw);
  line-height: calc(1.5em + 0.2vw);
  text-rendering: optimizeLegibility;
  background: linear-gradient(var(--sky-color), #978043, var(--grass-color));
  font-family: var(--body-font);
  max-height: 100%;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-attachment: fixed;

  display:block;
  background-image: url("img/sky_grass.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* conjugate */


.conjugate-container {
  max-height: 100%;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 2em 6.4em 14em 1fr 2em;
  grid-template-columns: .1fr 6fr 1fr .1fr;
  grid-template-areas: 
    ". verb-title verbs ."
    ". work work ."
    ". more-work more-work ."
    ". dictionary dictionary .";
  grid-gap: 1em;
}

.verb-title {
  font-family: var(--head-font);
  text-transform: uppercase;
  grid-area: verb-title;
  font-weight: bold;
  color: var(--correct-color); 
  letter-spacing: .2em;
  font-size: 3vmax;
  padding-top: .5em;
  padding-left: .2em;
  text-shadow:
    0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

/* dictionary widget */

.dict-container {
  grid-area: dictionary;
  background: var(--work-area-color);
  max-height: 17em;
  overflow-y: auto;
  display: grid;
  grid-auto-rows: minmax(auto, max-content);
  grid-auto-rows: minmax(auto, -webkit-max-content);
}

.word strong {
  text-transform: uppercase;
  color: var(--grass-color);
  font-weight: 700;
  place-self: start;
  padding-top: .5em;
  letter-spacing: .1em;
  word-break: break-all;
}

.def-style {
  list-style-type: circle;
  margin-left: 1.5em;
}

.word {
  word-wrap: break-word;
  font-family: var(--head-font);
  height: 1.8em;
  display: grid;
  line-height: 1;
  grid-template-areas: "delete word";
  grid-template-columns: .7em 1fr;
  grid-gap: .1em;
}

.just-word {
  grid-area: word;
}

.etym-style {
  font-family: var(--body-font);
  padding: .1em .3em;
  margin: .2em .5em .2em .3em;
  list-style: none;  
}

.exmpl-style {
  list-style: square;
  margin-left: 1em;
}

.word-link {
  text-decoration: none;
  color: black;
}

.lang-french {
  font-family: Inika;
}

.lang-head {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5;
  padding-bottom: .5em;
  padding-left: .5em;
  color: var(--sky-color);
}


.lang-english {
  font-size: 1.1rem;
  color: #586b92;
  font-family: Merriweather;
}

/* just conjugate */

.just-conjugate {
  grid-area: work;
  background: var(--work-area-color);
}

.jconjugate, .chk-conjugate {
  padding: 0 1em .3em 1em;
  display: grid;
  grid-template-columns: repeat(3, minmax(7em, auto));
  grid-template-rows: 1fr 1fr;
}

.who-conjugate {
  display: grid;
  grid-template-areas: "who verb-form";
  grid-template-columns: minmax(auto, max-content) 1fr;
}

.who {
  grid-area: who;
  font-weight: 600;
  color: var(--sky-color);
  margin-right: .4em;
}

.correct {
  position: relative;
  grid-area: verb-form;
}

.corrections {
  position: absolute;
}

.homework-corrections {
  display: inline-flex;
}

.wrong-answer {
 z-index: 1;
 text-decoration: line-through;
}

.correct-answer {
  margin: -35px 15px 0 15px; 
  z-index:2; 
  color: var(--correct-color);
}

.correct-answer-homework {
  margin: -10px -10px 0 -13px;
  z-index: 2; 
  color: var(--correct-color);
}

.right-answer {
  display: inline;
  color: var(--correct-color);
}

.my-conjugate-verb {
  grid-area: verb-form;
}

[contenteditable=true]:empty:before { content: attr(placeholder); color: #aaa; }

/* homework */

.conjugate-homework {
  grid-area: more-work;
  max-height: 20em;
  overflow-y: auto;
}

.conjugate-homework, .just-conjugate, .verbs-list, .dict-container {
  border: 1px solid var(--grass-color);
  box-shadow: 0 0 15px 2px #585b5d6e;
}

.hconjugate {
  padding: .7em 2em .6em 2.3em;
  overflow-y: auto;

  counter-reset: example-counter;
}

.hconjugate-empty {
  padding: .1em .5em;
  height: 11em;
}

.homework-example {
  padding: .5em;
  position: relative;
}

.homework-example::before {
  counter-increment: example-counter;
  content: counter(example-counter);
  position: absolute;
  left: -2em;
  top: .8em;
  border-radius: 50%;
  background: var(--sky-color);
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--grass-color);
  color: var(--grass-color);
  font-size: .8em;
}

.hw-example-wrong::before {
  background: none;
  border-radius: 0;
  width: 0;
  height: 0;
  border: none;
  z-index: 100;
  color: var(--sky-color);
  left: -1.4em;
  top: 1.7em;
}

.hw-example-wrong::after {
  content: '';
  position: absolute;
  background: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent var(--correct-color);
  color: var(--grass-color);
  left: -1.6em;
  top: .5em;
  border-width: .9em 1.4em;
}

/* verbs sidebar */

.verbs-sidebar {
  position: relative;
  grid-area: verbs;
  font-family: var(--head-font);
  font-variant-ligatures: discretionary-ligatures;
  font-feature-settings: "liga" 1, "hlig" 1, "dlig" 1;
  display: grid;
  grid-template-areas: "verbs-list";
  z-index: 1000;
}

.verbs-list {
  position: absolute;
  grid-area: verbs-list;
  overflow-y: auto;
  background: var(--sidebar-color);
  padding: .7em .1em .2em .1em;
  right: 0;
  top: 100%;
  max-height: 20.7em; 
  transform: scale(1, 0);
  transition: transform 300ms ease-in-out, border-top ease-out 150ms, top ease-out 150ms;
  transform-origin: top;
}

.verbs-toggle {
  display: none;
}

.verbs-label {
  display: flex;
  justify-content: flex-end;
}

.verbs-toggle-label {
  cursor: pointer;
  position: absolute;
  text-transform: uppercase;
  top: .5em;
  right: 0;
  font-weight: bold;
  font-size: 3vmax;
  font-family: var(--head-font);
  letter-spacing: .2em;
  color: var(--grass-color);
  text-shadow:
    0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}


.verbs-toggle:checked ~ .verbs-list {
  transform: scale(1,1);
  top: 96%;
  border-top: 15px solid var(--grass-color);
}

.verbs-toggle:checked ~ .verbs-toggle-label {
}

.verbs-ul {
  padding: .3em .6em 0 .6em;
  list-style-type: none;
}

.verb-word {
  letter-spacing: .1em;
  text-transform: uppercase;
  color: var(--grass-color);
  font-weight: bold;
}

.verb-link {
  text-decoration: none;
}
/* react tabs */

.react-tabs {
  -webkit-tap-highlight-color: transparent;
  background: var(--work-area-color);
}

.react-tabs__tab-list {
  font-variant-ligatures: discretionary-ligatures;
  font-family: var(--head-font);
  color: var(--grass-color);
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: .1em .3em;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: var(--select-color);
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

@media (max-width: 601px) {
  .hide-tab-item4 {
    display: none;
  }
  .tab-carousel-arrow-tab3 {
    display: none;
  }
  .tab-carousel-arrow-tab2 {
    display: none;
  }
  .jconjugate, .chk-conjugate {
    grid-template-columns: repeat(1, minmax(7em, auto));
  }

  .conjugate-container {
    grid-template-rows: 2em 12em 14em 1fr 1em;
  }
}

@media (max-width: 551px) {
  .hide-tab-item {
    display: none;
  }
  .hide-tab-item3, .hide-tab-item4, .show-tab-item4 {
    display: none;
  }
  .tab-carousel-arrow-tab3 {
    display: inline-block;
  }
  .tab-carousel-arrow-tab2 {
    display: none;
  }
}

@media (max-width: 420px) {
  .hide-tab-item {
    display: none;
  }
  .hide-tab-item3, .hide-tab-item4, .show-tab-item4, .show-tab-item3 {
    display: none;
  }
  .tab-carousel-arrow-tab3 {
    display: inline-block;
  }
  .tab-carousel-arrow-tab2 {
    display: inline-block;
  }
}

@media (min-width: 550px) {
  .hide-tab-item {
    display: none;
  }
}

@media (min-width: 600px) {
  .tab-carousel-arrow-tab2 {
    display: none;
  }
  .tab-carousel-arrow-tab3 {
    display: none;
  }
  .tab-carousel-arrow-tab4 {
    display: none;
  }
  .hide-tab-item {
    display: none;
  }
}

@media (min-width: 900px) {
.dict-container {
  grid-template-columns: minmax(9em, 15%) 1fr;
}

  .verbs-toggle-label { 
    display: none;
  }
  .verbs-ul {
    padding: .3em .6em 0 .6em;
  }
  .verbs-list {
    max-height: 20.3em; 
    left: unset; 
    position: inherit;
    top: unset;
    margin-top: unset;
    transform: scale(1, 1);
  }

  .jconjugate, .chk-conjugate {
    grid-template-columns: repeat(3, minmax(10em, auto));
  }

.conjugate-container {
  grid-template-columns: 1em minmax(max-content, auto) 1fr 1em;
  grid-template-areas: 
    ". . verb-title ."
    ". verbs work ."
    ". verbs more-work ."
    ". dictionary dictionary ."
    ". . . .";
  grid-gap: 1em;
}

}





@media (min-width: 1065px) {
  .jconjugate, .chk-conjugate {
    grid-template-columns: repeat(auto-fit, minmax(12em, auto));
  }
}
