:root {
  --grass-color: #6d7b00;
  --sky-color: #60a2f4;
  --body-font: Alegreya;
  --head-font: Cormorant Garamond;
  --sidebar-color: #ede4d3ed;
  --work-area-color: #ede4d3ed;
  --correct-color: #fb5043;
  --select-color: #bcc0cd;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width:100%;
  position:absolute;
  min-width:100%
}

select option {
  background: var(--select-color);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select {
  background: var(--select-color);
}

a[data-word-tool-tip], a[data-verb-tool-tip] {
  position: relative;
}

a[data-word-tool-tip]::after, a[data-verb-tool-tip]::after {
  display: block;
  position: absolute;
  border-radius: 4px;
  bottom: 40%;
  left: 20%;
  white-space: nowrap;
  padding: .01em .3em .2em .3em;
  font-size: .75em;
  color: white;
  transform: scale(0);
  transition: 
    transform ease-out 150ms,
    bottom ease-out 150ms;
  z-index: 1000;
}

a[data-word-tool-tip]::after {
  content: attr(data-word-tool-tip);
  font-family: var(--head-font);
  background-color: var(--grass-color);
}

a[data-verb-tool-tip]::after {
  content: attr(data-verb-tool-tip);
  font-family: var(--word-font);
  background-color: var(--sky-color);
}

a[data-word-tool-tip]:hover::after {
  transform: scale(1);
  bottom: 77%;
}

a[data-verb-tool-tip]:hover::after {
  transform: scale(1);
  bottom: 67%;
}

body {
  text-rendering: optimizeLegibility;
  background: linear-gradient(var(--sky-color), #978043, var(--grass-color));
  font-family: var(--body-font);
  max-height: 100%;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-attachment: fixed;

  display:block;
  background-image: url("img/sky_grass.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* conjugate */


.conjugate-container {
  max-height: 100%;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 2em 4.8em 14em 1fr 5em;
  grid-template-areas: 
    "verb-title verbs"
    "work work"
    "more-work more-work"
    "dictionary dictionary";
  padding: .1em;
}

.verb-title {
  font-family: var(--head-font);
  text-transform: uppercase;
  grid-area: verb-title;
  font-weight: bold;
  color: var(--correct-color); 
  letter-spacing: .2em;
  font-size: 3.5vmax;
  margin-left: 1em;
  margin-top: .3em;
  text-shadow:
    0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

/* dictionary widget */

.dict-container {
  grid-area: dictionary;
}

.word-link {
  text-decoration: none;
  color: black;
}

.hconjugate {
  background: var(--work-area-color);
  padding: .2em 2.3em .5em;
  overflow-y: auto;

  counter-reset: example-counter;
}

.homework-example {
  padding: .5em;
  position: relative;
}

.homework-example::before {
  counter-increment: example-counter;
  content: counter(example-counter);
  position: absolute;
  left: -1.5em;
  top: .4em;
  border-radius: 50%;
  background: var(--sky-color);
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--grass-color);
  color: var(--grass-color);
  box-sizing: border-box;
}

.just-conjugate {
  grid-area: work;
  background: var(--work-area-color);
  padding: 0 .3em .1em;
  border: 2px solid var(--grass-color);
}

.jconjugate, .chk-conjugate {
  padding: 0 0 .3em .3em;
  display: grid;
  grid-template-columns: repeat(3, minmax(7em, auto));
  grid-template-rows: 1fr 1fr;
}

.who-conjugate {
  display: grid;
  grid-template-areas: "who verb-form";
  grid-template-columns: minmax(auto, max-content) 1fr;
}

.who {
  grid-area: who;
  font-weight: 600;
  color: var(--sky-color);
  margin-right: .4em;
}

.correct {
  position: relative;
  grid-area: verb-form;
}

.corrections {
  position: absolute;
}

.homework-corrections {
  display: inline-flex;
}

.wrong-answer {
 z-index: 1;
 text-decoration: line-through;
}

.correct-answer {
  margin: -35px 15px 0 15px; 
  z-index:2; 
  color: var(--correct-color);
}

.correct-answer-homework {
  margin: -10px -10px 0 -13px;
  z-index: 2; 
  color: var(--correct-color);
}

.right-answer {
  display: inline;
  color: var(--correct-color);
}

.my-conjugate-verb {
  grid-area: verb-form;
}

[contenteditable=true]:empty:before { content: attr(placeholder); color: #aaa; }

/* homework */

.conjugate-homework {
  grid-area: more-work;
  margin: 1em .8em 0 .8em;
  max-height: 20em;
  overflow-y: auto;
  border: 2px solid var(--grass-color);
}

/* verbs sidebar */

.verbs-sidebar {
  grid-area: verbs;
  overflow-y: auto;
  font-family: var(--head-font);
  font-variant-ligatures: discretionary-ligatures;
}

.verbs-list {
  border: 2px solid var(--grass-color);
  background: var(--sidebar-color);
  padding: .7em 0 .2em 0;
}

.verbs-ul {
  padding: 0 .5em 0 .5em;
  list-style-type: none;
}

.verb-word {
  letter-spacing: .01em;
  text-transform: uppercase;
  color: var(--grass-color);
  font-weight: bold;
}

.verb-link {
  text-decoration: none;
}
/* react tabs */

.react-tabs {
  -webkit-tap-highlight-color: transparent;
  background: var(--work-area-color);
}

.react-tabs__tab-list {
  font-variant-ligatures: discretionary-ligatures;
  font-family: var(--head-font);
  color: var(--grass-color);
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: var(--select-color);
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
@media (min-width: 800px) {

.jconjugate, .chk-conjugate {
  grid-template-columns: repeat(3, minmax(9em, auto));
  grid-template-rows: 1fr 1fr;
}

.conjugate-container {
  grid-template-columns: .1fr 8em 2.3fr .1fr;
  grid-template-areas: 
    ". . verb-title ."
    ". verbs work ."
    ". verbs more-work ."
    ". dictionary dictionary ."
    ". . . .";
  padding: .1em;
}

.verb-title {
  margin-left: .5em;
  margin-top: 0;
  font-size: 2.5vmax;
}

.just-conjugate {
  margin: 0 .8em 0 .8em;
  padding: 0 .2em .1em;
}
}

@media (min-width: 1040px) {
.jconjugate, .chk-conjugate {
  grid-template-columns: repeat(auto-fit, minmax(9em, auto));
  grid-template-rows: 1fr;
}

.conjugate-container {
  grid-template-columns: .1fr minmax(max-content, auto) auto .1fr;
  grid-template-areas: 
    ". . verb-title ."
    ". verbs work ."
    ". verbs more-work ."
    ". dictionary dictionary ."
    ". . . .";
  padding: 1em;
}

.verb-title {
  margin-left: .7em;
  margin-top: 0;
  font-size: 2vmax;
}

.just-conjugate {
  padding: 0 .3em .3em;
}
}


