:root {
  --grass-color: #788400;
  --sky-color: #0088e6;
  --word-font: Alegreya;
  --body-font: Cormorant Garamond;
  --sidebar-color: #dee6f7;
  --work-area-color: #e1e7f3;
  --correct-color: #fb5043;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width:100%;
  position:absolute;
  min-width:100%
}

body {
  text-rendering: optimizeLegibility;
  background: linear-gradient(var(--sky-color), #978043, var(--grass-color));
  font-family: var(--body-font);
  max-height: 100%;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-attachment: fixed;

  display:block;
  background-image: url("img/sky_grass.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* conjugate */


.conjugate-container {
  max-height: 100%;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: .1fr 10em 1fr .1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas: 
    ". verbs work ."
    ". verbs more-work ."
    ". . . .";
}

.just-conjugate {
  grid-area: work;
  background: var(--work-area-color);
  margin: 1em .8em .5em .8em;
}

.jconjugate, .chk-conjugate {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7em, auto));
}

.who-conjugate {
  display: grid;
  grid-template-areas: "who verb-form";
  grid-template-columns: 2.5em 1fr;
}

.who {
  grid-area: who;
  font-weight: bold;
  color: var(--sky-color);
}

.correct {
  grid-area: verb-form;
}

.corrections {
  position:absolute;
}

.wrong-answer {
 z-index: 1;
 text-decoration: line-through;
}

.correct-answer {
  margin: -30px 10px 0 15px; 
  z-index:2; 
  color: var(--correct-color);
  font-weight: bold;
}

.right-answer {
  color: var(--correct-color);
  font-weight: bold;
}

.my-conjugate-verb {
  grid-area: verb-form;
}

[contenteditable=true]:empty:before { content: attr(placeholder); display: block; color: #aaa; }

/* homework */

.conjugate-homework {
  grid-area: more-work;
  background: var(--work-area-color);
  margin: 1em .8em .5em .8em;
}

/* verbs sidebar */

.verbs-sidebar {
  grid-area: verbs;
  overflow-y: auto;
  max-height: 100%;
}

.verbs-list {
  background: var(--sidebar-color);
  margin: 1em .1em .5em .1em;
}

.verb-word {
  color: var(--grass-color);
  font-weight: bold;
}

.verb-link {
  text-decoration: none;
}
/* react tabs */

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
